:root {
    --azul-escuro: #0D3B6E;
    --azul: #1565C0;
    --azul-claro: #1E88E5;
    --azul-bem-claro: #E3F2FD;
    --cinza-azul: #546E7A;
    --branco: #FFFFFF;
    --cinza: #F5F5F5;
    --fonte1: 'YoungSerif', sand-serif;
    --fonte2: 'sans-serif';
    --fonte3: 'Montserrat';
}

@font-face {
    font-family: 'YoungSerif';
    src: url('../fontes/YoungSerif-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fontes/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

/*--------------main------------------*/
.conteudo-viagem img{
    border-radius: 10px;
    border: 3px solid var(--azul);
    width: 49%;
}

.texto-viagem{
    width: 49%;
    display: flex;
}

.texto-viagem p{
    
}

.topico-viagem{
    text-align: left;
}
